# Applied Data Science Capstone

## Week 3
### Assignment 1

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

|Postal code|Borough|Neighborhood|
|---|---|---|
|M5G|Downtown Toronto|Central Bay Street|
|...|...|...|
|M5A|Downtown Toronto|Regent Park, Harbourfront|

3. To create the above dataframe:
 * The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
 * Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
 * More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
 * If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
 * Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
 * In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

4. Submit a link to your Notebook on your Github repository.

### Solution

Import the necessary packages

In [1]:
import pandas as pd

Read the data in a pandas DataFrame and print the 5 first rows using the head method

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
PostalCodeDF = pd.read_html(url)[0]
#print('Data downloaded!')
PostalCodeDF.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Keeping the rows with an assigned borough (i.e. when borough $\neq$ Not assigned).
Then, printed the 5 first rows using the head method.

In [3]:
PostalCodeDF= PostalCodeDF[PostalCodeDF['Borough']!='Not assigned']
PostalCodeDF.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

The original request was to collapse the different rows which had the same postal code and separate them using a comma. ",".  
However, in this table, the data were already collapsed and seperated by slash "/", as such, the need was to rplace the slaches with commas.
Then, printed the 5 first rows using the head method.

In [4]:
PostalCodeDF['Neighborhood'] = pd.Series(PostalCodeDF['Neighborhood']).str.replace(' /', ',', regex=True)
PostalCodeDF.head()

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

for the cases without missing neighborhood info, the borough values were used in its place.

In [5]:
PostalCodeDF.Neighborhood.fillna(PostalCodeDF.Borough, inplace=True)

Used the .shape method to print the number of rows of the dataframe.

In [6]:
print("Number of Postal Codes (DataFrame rows) =", PostalCodeDF.shape[0])

Number of Postal Codes (DataFrame rows) = 103